/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    height: 1000px;
}

/* トップ画像 */
.main_bg img {
  width: 100%;
  height: 550px;
  opacity: 0.8;
  /* position: relative; */
}
.main_bg p {
  position: absolute;/*絶対配置*/
  color: blue;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0 auto;
  padding:0;
}
#nav {
  height: 70px;
  width: 100%;
  background-color: #CCCCCC;
  position: fixed;
  z-index: 2;
  list-style: none;
}
#nav ul {
  float: right;
  margin-right: 20px;
  line-height: 70px;
}
#nav li {
  float: left;
  margin-left: 15px;
  list-style: none;

}
.main_bg #nav li a {
  text-decoration: none;
}
.main_bg #nav li a:hover{
  cursor: pointer;
  color: orange;
}

/* 検索ボックス */
.search_container{
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #999;
  border-radius: 20px;
  width: 260px;
  /* height: 40px; */
  height: 50px;
  line-height: 50px;
  /* margin-left: 100px; */
  left: 7%;
  margin-top: 10px;
  overflow: hidden;
  background-color: white;
}
.search_container input[type="text"]{
  border: none;
  font-size: 15px;
  margin-left: 20px;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -5px;
  outline : none;
}

#recomend{
  width: 855px;
  margin: 50px auto;
  overflow: hidden;
}


#recomend li {
  width: 200px;
  height: 70px;
  margin-left: 15px;
  border: 1px solid #CCCCCC;
  float: left;
  list-style: none;
}

#recomend li:first-child {
  margin-left: 0;
}

img.sub1{
  width: 80px;
  height: 80px;
  float: left;
}
p.sub1_p{
  text-align: center;
  line-height: 70px;
}

#eyecatch{
  width: 920px;
  margin: 0 auto;
}
#eyecatch img{
  margin-left: 10px;
}
#eyecatch img:first-child {
  margin-left: 0;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #fff;
    width: 40px;
    height: 40px;
    z-index: 2;
    display: none;
}
.back-to-top:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000;
}
.back-to-top:after {
    content: "↑";
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 0;
    top: 0;
}
